<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <link rel="stylesheet" href="/static/css/check.css">
    <meta charset="UTF-8">
    <title>Let's check</title>

</head>

<body>
    <div id="ham-menu">
    <ul>
    <li> <a href="/" class="menu">HOME</a></li>
    <li> <a href="/how" class="menu"> HOW TO USE</a> </li>
    <li> <a href="/research" class="menu">RESEARCH</a></li>
    </ul>
</div>
<div id="menu-background"></div>

    <img class="lets" src="/static/images/check.png"</img>

    <form method = "post" action="/" enctype = "multipart/form-data">
        <p><input type="file" name="file" class="button" style="position:absolute;left:150px;bottom:300px">
        <input type="submit" value="Upload" class="button" style="position:absolute;left:150px;bottom:200px" >
    </form>
</body>

</html>
