<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meal checker for dog</title>
    <meta name="description" content="犬のご飯の安全をサポート">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/static/css/home.css">


    <script src="/static/js/home.js"></script>

  </head>
  <body>
    <div id="home" class="big-bg">

    <div class="home-content wrapper">
    <img class="logo" src="/static/images/logo.png" alt="Meal checker for dog ホーム"></img>

    <p class="family navy " style="position:absolute;left:0px;bottom:200px">大切な家族を守るために。</p>
    <p class="save navy " style="position:absolute;left:0px;bottom:120px">私たちは中毒から</p>
    <p class="save navy " style="position:absolute;left:0px;bottom:40px">大切なご家族をお守りします。</p>

    <a class="button" href="/how" style="position:absolute;left:900px;top:200px" onmouseover="sippo1()">HOW TO USE</a>
      <a class="button" href="/check" style="position:absolute;left:900px;top:450px" onmouseover="sippo2()">CHECK</a>
        <a class="button" href="/research" style="position:absolute;left:900px;top:700px" onmouseover="sippo3()">RESEARCH</a>

        <img id="sippo1" src="/static/images/sippo1.png" style="position:absolute;left:1150px;top:100px"></img>
        <img id="sippo2" src="/static/images/sippo2.png" style="position:absolute;left:1170px;top:350px"></img>
        <img id="sippo3" src="/static/images/sippo3.png" style="position:absolute;left:1150px;top:650px"></img>
</div>
</div>
    </body>
</html>
